<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <style>
    .footer-list-item {
      list-style-type: none;
      display: inline-block;
    }

    .footer-list {
      padding: 50px 0;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="footer">
    <div class="pt-4 my-4 text-muted border-top">
      <ul class="footer-list">
        <li class="footer-list-item"><a href="mailto:2430412@bsis.hs.kr" class="ms-3 fs-5"><i class="fab fa-google"></i></a></li>
        <li class="footer-list-item"><a href="https://orcid.org/0009-0000-6873-5271" class="ms-3 fs-5"><i class="fab fa-orcid"></i></a></li>
        <p><br></p>
        <p><small>Copyright &copy; 2024 Minho Jeong. All rights reserved.</small></p>
      </ul>
    </div>
  </div>
</body>
</html>
