---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Coursework (in Mathematics)</h3>
    
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4 class="border-bottom">Spring 2025</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.coursework.2025-1 %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}<br><i>Textbook: {{ section.textbook }}</i></p>
        {% endfor %}
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4 class="border-bottom">Summer 2025<br><small>(UC Berkeley)</small></h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.coursework.2025-1A %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}<br><small><i>Textbook: {{ section.textbook }}</i></small></p>
        {% endfor %}
      </div>
    </div>
    
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4 class="border-bottom">Fall 2025 (Expected)</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.coursework.2025-2 %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}<br><small>Textbook: {{ section.textbook }}</small></p>
        {% endfor %}
      </div>
    </div>
    
  </div>
</div>
