---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    
    <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-5">
      <h3 class="fw-bold mb-0">Coursework in Mathematics</h3>
      <a href="/coursework-term" style="display: inline-block; color: #1487C8 !important; border: 1px solid #1487C8; padding: 4px 12px; border-radius: 6px; text-decoration: none; font-weight: 600; font-size: 0.9em;">View by Term &rarr;</a>
    </div>
    
    {% for field in site.data.cw.fields %}
      {% assign courses_in_field = site.data.cw.coursework | where: "field", field.id %}
      
      {% if courses_in_field.size > 0 %}
        <div class="mb-5 row gx-5">
          <div class="col-12">
            <h4 class="border-bottom mb-4">{{ field.title }}</h4>
            <div class="ps-md-4">
              
              {% assign sorted_courses = courses_in_field | sort: "num" %}
              {% for course in sorted_courses %}
                
                {% assign matched_term = site.data.cw.terms | where: "id", course.term | first %}
                
                <p class="fw-bold mb-2">{{ course.title }}</p>
                <p class="mb-4">
                  {{ matched_term.title }} • {{ course.professor }}<br>
                  <small class="d-flex">
                    <span class="me-2">Text:</span>
                    <span class="d-block">
                      {% assign books = course.textbook | split: "<br>" %}
                      {% for book in books %}
                        {{ book }}<br>
                      {% endfor %}
                    </span>
                  </small>
                </p>
              {% endfor %}
              
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    
  </div>
</div>
