---
layout: default
---

<div class="row g-5 mb-5 align-items-center">
  
  <div class="col-md-6">
    <h2 class="fw-bold mb-1">Minho Jeong</h2>
    <h5 class="fw-bold text-muted mb-4">Second-year Undergraduate</h5>
    {{ content }}
  </div>

  <div class="col-md-6">
    <figure class="mb-0">
      <img src="{{ site.github.url }}/assets/img/home.png" alt="Category Theory Diagram" class="img-fluid rounded">
      <figcaption class="text-muted mt-2 text-end" style="font-size: 0.85rem;">
        Source: The Centre for Applied Compositionality
      </figcaption>
    </figure>
  </div>
  
</div>
