---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <p style="line-height: 1.25"><h2 class="fw-bold">Minho Jeong</h2></p>
    <p style="line-height: 1.25"><h5 class="fw-bold">Senior at <a href="https://school.busanedu.net/bsis-h" style="text-decoration-line: none"><font color="#34A392">Busan Il Science High School</font></a></h5></p>
    <br>
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.png" alt="Home" width="100%">
  </div>
</div>
