---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Postech Presidential Fellowship</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4 class="border-bottom">Activities & Honors</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.postech %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.date }}</p>
          <p>{{ section.description }}</p>
          <p>{{ section.institution }}</p>
          <br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<p id="last-updated" class="text-end fst-italic"></p>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var lastModified = new Date(document.lastModified);
    var options = { year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit' };
    var formattedDate = lastModified.toLocaleDateString('en-US', options).replace(',', '') + ", " + lastModified.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });
    document.getElementById("last-updated").textContent = "last updated on " + formattedDate;
  });
</script>
